# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production / build outputs
/dist
/.next/
/out/
/build

# misc
.DS_Store
*.pem
Thumbs.db

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
.env.production

# typescript / editor
*.tsbuildinfo
.vscode/
.idea/
